In [1]:
import tabula
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#
# Refactoring issues & ideas...
# ---------For short data, there are a total of 9 pages, 10 pages causes exception; 
# end of PDF short maximum/mormal length of lines read; anaylyze what the last sheet looks like
# too many pages? use "try:" to intercept the exception explosion

# QCMA large entries = 1000 properties or 32 PDF pages yields 971 data rows
# QCMA small entries = ~300 properties or  9 PDF pages yields 249 data rows

In [4]:
# Tabula reading performance
# Short =   9 total pages: 14 sec
# Long = 32 total pages: 47 sec


# Set up input and output file names...

# pdf_file_name = "pdfs\\raw_listing_data_approx_1000.pdf" # long data
# pkl_file_name = "DF_Long_Listings.pkl"

pdf_file_name = "pdfs\\raw_listing_data_approx_249.pdf" # short data
pkl_file_name = "DF_Short_Listings.pkl"
pdf_page_dfs = {}                      

for page in range(1,100):                                   
    pdf_page_dfs[page] = tabula.read_pdf(pdf_file_name, pages=page)
    if len(pdf_page_dfs[page].index) < 30: # checkign the number of lines in the PDF conversion\n",
        break

print(f'A total of {page} pages were read from the PDF file')

A total of 9 pages were read from the PDF file

In [5]:
cppdf = {} # cleaned PDF pages DF dictoinary
# tmpdf = {}
dummy = ""
splitstr = []
extrastr = []
tempostr = []
totalrowssaved2pages = 0

# totalistings = 0 use if last prage processsed
for page in range(1,len(pdf_page_dfs)): # ignore the last page for now
# for page in range(1,3):
    # the 3 categoroies of pages have different parsing requirements...
    print(f'Processing page {page}...')
    if page == 1:  
        # Prelim Clean up the original source DF...
        tmpdf = pdf_page_dfs[page].drop([0,1,2,3,4]).reset_index()
    else:
        tmpdf = pdf_page_dfs[page].drop([0,1,2,3]).reset_index()

    tmpdf.drop('index', axis=1, inplace=True)

    tmpdf.fillna('0', inplace = True)
#    DataFrame.fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)[source]
# tmpdf.head()
    # create the DF for each page
    cppdf[page] = pd.DataFrame()
#   cppdf[page] = pd.DataFrame(columns=['MLS','Address', 'City','Zip','Beds','#Bath','#HlfBath','Gar','CvPk','TCP',\
#   'YB','Pool','SF','$/SF','Acres','List $','Sold $','Sold Date','SP%LP','CDOM'])
    if page == 1: # first page is different from the rest
        for row in range(0,len(tmpdf)):
            for col in range(0,6): #loop thjrough each field in the line 
#            for col in range(0,1): #loop thjrough each field in the line 
                splitstr = tmpdf.iloc[row,col].split(" ")
                if col == 0 and len(splitstr) < 4: # Check for bad row data: due to overflow of MLS & address line
                    break # break from column loop
                elif col == 0: # parse the first part of the PDF line AKA F_0
                    cppdf[page].at[row,'MLS'] = splitstr[0] # save the MLS# string
                    del splitstr[0] # remove MLS # so I can easily create the address string
                    cppdf[page].at[row,'Address'] = " ".join(splitstr) # create address string and load address
                elif col == 1:
                    cppdf[page].at[row,'Beds'] = splitstr[-1] # save the Beds # string
                    del splitstr[-1]                  # remove Beds # so I can easily create the City string
                    cppdf[page].at[row,'City'] = " ".join(splitstr) # Some cities compposed of multiple words ie. compund names
                    cppdf[page].at[row,'Zip'] = "0" # make a placeholder for Zip
                elif col == 2:
                    extrastr = splitstr[0].split("/")
                    cppdf[page].at[row,'#Bath'] = extrastr[0]
                    cppdf[page].at[row,'#HlfBath'] = extrastr[1] # create address string and load address
                elif col == 3:
                    cppdf[page].at[row,'YB'] = splitstr[1]
                    cppdf[page].at[row,'Pool'] = splitstr[2]
        
                    extrastr = splitstr[3].split(",") # extra slipt to handle thousands commas
                    cppdf[page].at[row,'SF'] = "".join(extrastr)
                    
                    
                    tempostr = splitstr[4].split("$") # from $/SF strip ""$"
                    del tempostr[0]                    
                    cppdf[page].at[row,'$/SF'] = tempostr[0]
                    
                    cppdf[page].at[row,'Acres'] = splitstr[5]
                    # extra split required to handle parking field with P/P/P
                    extrastr = splitstr[0].split("/")
                    cppdf[page].at[row,'Gar'] = extrastr[0]
                    cppdf[page].at[row,'CvPk'] = extrastr[1]
                    cppdf[page].at[row,'TCP'] = extrastr[2]
                elif col == 4:
                    cppdf[page].at[row,'List $'] = splitstr[0]
                else: 
                    
                    tempostr = splitstr[0].split("$") # from Sold $ strip $ and comma's
                    del tempostr[0]
                    extrastr = tempostr[0].split(",")
                    cppdf[page].at[row,'Sold $'] = "".join(extrastr)
                    
                    cppdf[page].at[row,'Sold Date'] = splitstr[1]
                    cppdf[page].at[row,'SP%LP'] = splitstr[2]
                    cppdf[page].at[row,'CDOM'] = splitstr[3]
            if col == 0 and len(splitstr) < 4: # Check for bad row data: due to overflow of MLS & address line
                continue # ignore this row and continue row loop
            totalrowssaved2pages += 1

    else: # after first page all the same format
        for row in range(0,len(tmpdf)):
            for col in range(0,10): #loop thjrough each field in the line 

                splitstr = tmpdf.iloc[row,col].split(" ")
    
                if col == 0 and len(splitstr) < 4: # Check for bad row data: due to overflow of MLS & address line
                    break # break from column loop
                
                elif col == 0: # parse the first part of the PDF line AKA F_0
                    cppdf[page].at[row,'MLS'] = splitstr[0] # save the MLS# string
                    del splitstr[0] # remove MLS # so I can easily create the address string
                    cppdf[page].at[row,'Address'] = " ".join(splitstr) # create address string and load address
                elif col == 1:
                    cppdf[page].at[row,'City'] = " ".join(splitstr) # Some cities are compound names
                    cppdf[page].at[row,'Zip'] = "0" # make a placeholder for Zip
                elif col == 2:
                    cppdf[page].at[row,'Beds'] = splitstr[0] # save the Beds # string
                elif col == 3:
                    extrastr = splitstr[0].split("/")
                    cppdf[page].at[row,'#Bath'] = extrastr[0] 
                    cppdf[page].at[row,'#HlfBath'] = extrastr[1] # create address string and load address
                elif col == 4:
                    # extra split required to handle parking field with P/P/P
                    extrastr = splitstr[0].split("/")
                    cppdf[page].at[row,'Gar'] = extrastr[0]
                    cppdf[page].at[row,'CvPk'] = extrastr[1]
                    cppdf[page].at[row,'TCP'] = extrastr[2]

                    cppdf[page].at[row,'YB'] = splitstr[1]
                    cppdf[page].at[row,'Pool'] = splitstr[2]

                elif col == 5:
                    extrastr = splitstr[0].split(",") # extra slipt to handle thousands commas
                    cppdf[page].at[row,'SF'] = "".join(extrastr)

                elif col == 6:
                    
                    tempostr = splitstr[0].split("$") # from $/SF strip ""$"
                    del tempostr[0]                    
                    cppdf[page].at[row,'$/SF'] = tempostr[0]

                elif col == 7:
                    cppdf[page].at[row,'Acres'] = splitstr[0]

                elif col == 8:
                    cppdf[page].at[row,'List $'] = splitstr[0]

                else: 
                    
                    tempostr = splitstr[0].split("$") # from Sold $ strip $ and comma's
                    del tempostr[0]
                    extrastr = tempostr[0].split(",")
                    cppdf[page].at[row,'Sold $'] = "".join(extrastr)
                    
                    cppdf[page].at[row,'Sold Date'] = splitstr[1]
                    cppdf[page].at[row,'SP%LP'] = splitstr[2]
                    cppdf[page].at[row,'CDOM'] = splitstr[3]
            if col == 0 and len(splitstr) < 4: # Check for bad row data: due to overflow of MLS & address line
                continue # ignore this row and continue row loop
            totalrowssaved2pages += 1
print(f'Total rows saved to individual PD pages: {totalrowssaved2pages}')

Processing page 1...
Processing page 2...
Processing page 3...
Processing page 4...
Processing page 5...
Processing page 6...
Processing page 7...
Processing page 8...
Total rows saved to individual PD pages: 249

In [6]:
# What I want it to look like
# apdf = pd.DataFrame(columns=\
# ['MLS','Address', 'City','Zip','Beds','#Bath','#HlfBath','Gar','CvPk','TCP','YB',\
#  'Pool','SF','$/SF','Acres','List $','Sold $','Sold Date','SP%LP','CDOM'])
# combine all the csvs into one..
apdf = pd.concat(cppdf, sort=False, ignore_index = True)
len(apdf)

249

In [7]:
# After the concat, the order of the columns needs to be restored
apdf = apdf[['MLS','Address', 'City','Zip','Beds','#Bath','#HlfBath','Gar','CvPk','TCP',\
             'YB','Pool','SF','$/SF','Acres','List $','Sold $','Sold Date','SP%LP','CDOM']]
apdf

,MLS,Address,City,Zip,Beds,#Bath,#HlfBath,Gar,CvPk,TCP,YB,Pool,SF,$/SF,Acres,List $,Sold $,Sold Date,SP%LP,CDOM
0,14101282,820 W Collins Street,Denton,0,2,1,1,0,0,0,1984,Yes,930,161.18,5.909,"$149,900",149900,07/05/2019,100.00,7
1,14092808,101 W Willow Street,Sanger,0,2,1,0,0,0,0,1997,No,1008,148.81,0.116,"$150,000",150000,07/10/2019,100.00,12
2,14081857,513 N Snyder Avenue,Justin,0,3,2,0,0,0,0,2008,No,1348,116.47,0.165,"$159,900",157000,07/12/2019,98.19,19
3,14015075,601 Mary Street,Aubrey,0,3,1,0,0,0,0,1977,No,858,186.48,0.170,"$169,900",160000,07/11/2019,94.17,111
4,14085452,4152 Caldwell Avenue,The Colony,0,3,2,0,2,0,2,1986,No,1492,110.59,0.127,"$179,900",165000,07/09/2019,91.72,42
5,14092244,214 Southside Drive,Sanger,0,3,1,0,0,0,0,1992,No,1268,130.13,0.190,"$169,000",165000,07/10/2019,97.63,19
6,14105581,303 W Pecan Street,Aubrey,0,4,2,0,0,0,0,1996,No,1405,122.42,0.172,"$169,900",172000,07/08/2019,101.24,3
7,14085089,724 E Roewe Street,Pilot Point,0,3,2,0,2,0,2,1978,No,1177,148.68,0.272,"$169,900",175000,07/10/2019,103.00,8
8,14112097,2742 Harbinger Lane,Dallas,0,2,1,0,1,0,1,1984,No,819,219.78,0.061,"$180,000",180000,07/11/2019,100.00,3
9,14086107,527 N 1st Street,Krum,0,3,2,0,2,0,2,1999,No,1235,147.37,0.227,"$184,900",182000,07/08/2019,98.43,28
10,14106668,2812 Paisley Street,Denton,0,3,2,0,2,0,2,1985,No,1220,155.66,0.161,"$189,900",189900,07/08/2019,100.00,11
11,14069040,415 De Moye Street,Aubrey,0,3,2,0,3,2,5,1970,No,1547,126.05,0.258,"$199,900",195000,07/05/2019,97.55,49
12,14087438,2110 Jasmine Street,Denton,0,3,2,0,2,0,2,1999,No,1299,152.04,0.179,"$210,000",197500,07/12/2019,94.05,27
13,14128648,2516 Hillside Drive,Corinth,0,3,2,0,2,0,2,1984,No,1317,149.96,0.193,"$195,000",197500,07/11/2019,101.28,0
14,14098671,214 Aster Drive,Sanger,0,4,2,0,2,0,2,2001,No,1667,119.92,0.153,"$199,900",199900,07/08/2019,100.00,0
15,14039302,9815 Lexington Drive,Providence Village,0,3,2,0,2,0,2,2005,No,1129,177.15,0.098,"$195,000",200000,07/08/2019,102.56,5
16,14092818,225 Blackjack Road,Aubrey,0,3,2,0,2,0,2,2001,No,1409,141.94,0.166,"$200,000",200000,07/05/2019,100.00,3
17,14100847,3416 Shadow Trail,Denton,0,3,2,0,2,0,2,1997,No,1377,148.87,0.179,"$209,900",205000,07/08/2019,97.67,3
18,14019196,2502 Foxcroft Circle,Denton,0,3,2,0,0,0,0,1970,No,1495,139.13,0.217,"$205,000",208000,07/12/2019,101.46,126
19,14103617,3418 Valley View Road,Denton,0,4,1,1,0,0,0,1968,No,1544,136.01,0.198,"$199,900",210000,07/05/2019,105.05,3
20,14074110,1921 Briarwyck Court,Denton,0,2,2,0,2,0,2,1999,No,1654,128.48,0.105,"$219,900",212500,07/11/2019,96.63,47
21,14097732,101 Maned Drive,Sanger,0,3,2,1,2,0,2,2004,No,2137,100.61,0.178,"$215,000",215000,07/11/2019,100.00,25
22,14094144,2206 Cedarcrest Drive,Carrollton,0,3,2,0,2,0,2,1983,No,1682,128.42,0.115,"$229,900",216000,07/09/2019,93.95,22
23,14090678,1636 Dragonback Pass,Little Elm,0,3,2,0,2,0,2,2003,No,1648,132.28,0.152,"$220,000",218000,07/05/2019,99.09,6
24,14095984,1311 Jasmine Drive,Lewisville,0,3,2,1,2,0,2,1986,No,1673,130.30,0.143,"$218,000",218000,07/10/2019,100.00,2
25,14101132,3307 Andalusian Drive,Denton,0,3,2,0,2,0,2,2004,No,1507,145.92,0.160,"$219,900",219900,07/12/2019,100.00,8
26,14089098,2803 Monet Place,Dallas,0,2,2,0,2,0,2,1984,No,1502,146.47,0.101,"$217,128",220000,07/08/2019,101.32,1
27,14096136,3001 Terry Court,Denton,0,5,2,0,2,0,2,1990,No,1569,140.22,0.138,"$219,900",220000,07/05/2019,100.05,13
28,14081145,1321 Cheyenne Drive,Aubrey,0,3,2,0,2,0,2,2015,No,1557,141.94,0.129,"$223,000",221000,07/08/2019,99.10,33
29,14068469,2610 Parkview Drive,Corinth,0,3,2,0,2,0,2,1986,No,1515,148.45,0.182,"$224,900",224900,07/10/2019,100.00,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,14064654,3816 Granada Trail,Denton,0,4,5,0,3,0,3,1999,Yes,3824,151.67,0.567,"$599,900",580000,07/10/2019,96.68,47
220,14108471,10678 Foutch Road,Pilot Point,0,3,2,1,2,,2,1997,No,2287,260.17,8.969,"$599,000",595000,07/08/2019,99.33,15
221,14033918,1055 Hope Valley Parkway,Roanoke,0,4,3,1,3,0,3,2019,No,3398,175.75,0,"$597,900",597185,07/08/2019,99.88,0
222,14089165,950 Oak Hill Court,Cross Roads,0,4,4,1,3,0,3,2006,Yes,4023,150.39,1.249,"$609,900",605000,07/09/2019,99.20,15
223,14110000,3417 Darcey Court,Flower Mound,0,5,4,1,3,0,3,2004,Yes,3919,155.65,0.432,"$579,900",610000,07/11/2019,105.19,10
224,14113402,400 Mobile Drive,Copper Canyon,0,3,2,1,4,0,4,2011,Yes,2799,221.51,1.000,"$639,900",620000,07/08/2019,96.89,9
225,14083754,2738 Highlands Court,Trophy Club,0,5,4,1,3,0,3,2012,Yes,4018,156.79,0.272,"$639,000",630000,07/09/2019,98.59,35
226,14062562,4432 Tall Knight Lane,Carrollton,0,5,4,0,2,0,2,2019,No,4038,158.49,0.140,"$689,000",640000,07/09/2019,92.89,91
227,13876966,12543 Chisum Road,Sanger,0,3,2,0,2,4,2,1993,No,2268,284.39,28.000,"$649,000",645000,07/05/2019,99.38,350
228,14013478,3900 Blue Sage,Prosper,0,5,5,0,3,0,0,2019,No,4368,149.04,0,"$714,990",651000,07/05/2019,91.05,156
229,14011648,5009 Brush Hill Road,Carrollton,0,4,4,1,3,0,3,2019,No,3211,202.80,0.165,"$719,900",651183,07/05/2019,90.45,6
230,14027403,4439 Chantilly Lane,Frisco,0,5,4,1,3,0,3,2014,No,4742,137.49,0.200,"$674,900",652000,07/08/2019,96.61,102
231,14095267,13400 Escalara Lane,Justin,0,4,3,0,3,0,3,2016,Yes,3520,187.22,1.010,"$659,000",659000,07/05/2019,100.00,16
232,14092906,5117 Connors Drive,Flower Mound,0,5,4,1,3,0,3,2003,Yes,4590,143.79,0.278,"$670,000",660000,07/11/2019,98.51,26
233,14104537,1712 Milford Drive,Flower Mound,0,4,4,1,3,0,3,2017,No,3843,172.39,0.235,"$669,000",662500,07/08/2019,99.03,5
234,14090400,4556 Biltmoore Drive,Frisco,0,3,2,2,2,0,2,1999,No,3766,185.87,0.280,"$725,000",700000,07/12/2019,96.55,274
235,14031578,5486 Mayfly Drive,Frisco,0,5,4,1,3,0,3,2016,No,4222,178.23,0.204,"$779,000",752500,07/12/2019,96.60,88
236,14104576,2612 Santa Monica Street,Flower Mound,0,4,3,2,3,0,3,2015,No,4213,179.21,0.179,"$725,000",755000,07/05/2019,104.14,2
237,14102981,4060 Ladera Heights,Frisco,0,4,4,1,3,0,3,2019,No,3427,222.21,0.220,"$761,526",761526,07/08/2019,100.00,1
238,14042971,906 Crescent Drive,Highland Village,0,4,3,2,3,0,3,2001,Yes,4532,172.90,0.452,"$774,500",783600,07/10/2019,101.17,167
239,14078287,7408 Palomino Circle,Flower Mound,0,5,4,0,3,0,3,1999,Yes,4179,189.04,2.001,"$799,900",790000,07/10/2019,98.76,7
240,14097924,819 W Oak Street,Denton,0,4,3,1,0,0,6,1886,Yes,4546,177.52,0.467,"$799,900",807000,07/08/2019,100.89,5
241,14004590,6772 Garrett River Road,Frisco,0,5,5,1,3,0,3,2019,No,4331,190.81,0.250,"$976,390",826415,07/10/2019,84.64,43
242,14101673,4705 Nantucket Court,Flower Mound,0,4,4,2,3,0,3,1994,No,5762,150.99,1.057,"$879,900",870000,07/08/2019,98.87,40
243,13897208,3035 Maynard Road,Hickory Creek,0,4,4,1,2,0,2,1965,Yes,3211,280.29,2.148,"$1,100,000",900000,07/09/2019,81.82,267
244,14087889,4564 Biltmoore Drive,Frisco,0,4,4,1,3,0,3,2000,Yes,4930,183.77,0.308,"$899,000",906000,07/09/2019,100.78,6
245,14049050,5801 Shorefront Lane,Flower Mound,0,5,4,1,3,0,3,1999,No,5154,181.41,2.009,"$975,000",935000,07/08/2019,95.90,61
246,14045069,308 King Ranch Road,Southlake,0,5,5,1,4,1,5,2005,No,5485,175.93,1.000,"$998,900",965000,07/09/2019,96.61,68
247,14087106,1210 Tate Lane,Argyle,0,4,4,2,4,0,4,2007,Yes,5503,197.62,1.019,"$1,150,000",1087500,07/11/2019,94.57,8
248,14084595,943 Echols Drive,Frisco,0,5,5,1,4,0,4,2014,No,6817,161.36,0.422,"$1,199,995",1100000,07/09/2019,91.67,344

In [8]:
# convert from strings to numbers: pool
# Columns we wont use: $/SF, List $,

In [9]:
# Ignore these, until we might need them
# MLS          object
# Address      object
# City         object
# Zip          object

apdf['Beds'] = apdf['Beds'].astype(int)
apdf['#Bath'] = apdf['#Bath'].astype(int)
apdf['#HlfBath'] = apdf['#HlfBath'].astype(int)
apdf['Gar'] = apdf['Gar'].astype(int)

# CvPk         object <-- this gave trouble
apdf.drop(columns='CvPk', axis=0, inplace = True) # Production fix? : fix nulls then keep column
apdf['TCP'] = apdf['TCP'].astype(int)
apdf['YB'] = apdf['YB'].astype(int)

In [10]:
# apdf.pool.replace(('yes', 'no'), (1, 0), inplace=True) does not work
# poolmap = {'Yes': True, 'No': False} --> stays "object"
poolmap = {'Yes': 1, 'No': 0} # converts to float
apdf['Pool'] = apdf['Pool'].map(poolmap) # better but not perfect: int64 == overkill; why not BOOL ??

In [11]:
apdf['SF'] = apdf['SF'].astype(int)
apdf['$/SF'] = apdf['$/SF'].astype(float)
apdf['Acres'] = apdf['Acres'].astype(float)
apdf['Sold $'] = apdf['Sold $'].astype(int)
# Sold Date    object
# SP%LP        object
# CDOM         object

In [12]:
# By now everything we expoect to use with the ML model should be numeric
apdf.dtypes

MLS           object
Address       object
City          object
Zip           object
Beds           int32
#Bath          int32
#HlfBath       int32
Gar            int32
TCP            int32
YB             int32
Pool           int64
SF             int32
$/SF         float64
Acres        float64
List $        object
Sold $         int32
Sold Date     object
SP%LP         object
CDOM          object
dtype: object

In [13]:
apdf['Sold $'].describe()

count    2.490000e+02
mean     3.666548e+05
std      1.724461e+05
min      1.499000e+05
25%      2.550000e+05
50%      3.145000e+05
75%      4.228890e+05
max      1.100000e+06
Name: Sold $, dtype: float64

In [14]:
# apdf['Pool'] = apdf['Pool'].astype(bool) # this made all Pools true ?!?!?

In [15]:
apdf.dtypes

MLS           object
Address       object
City          object
Zip           object
Beds           int32
#Bath          int32
#HlfBath       int32
Gar            int32
TCP            int32
YB             int32
Pool           int64
SF             int32
$/SF         float64
Acres        float64
List $        object
Sold $         int32
Sold Date     object
SP%LP         object
CDOM          object
dtype: object

In [16]:
apdf

,MLS,Address,City,Zip,Beds,#Bath,#HlfBath,Gar,TCP,YB,Pool,SF,$/SF,Acres,List $,Sold $,Sold Date,SP%LP,CDOM
0,14101282,820 W Collins Street,Denton,0,2,1,1,0,0,1984,1,930,161.18,5.909,"$149,900",149900,07/05/2019,100.00,7
1,14092808,101 W Willow Street,Sanger,0,2,1,0,0,0,1997,0,1008,148.81,0.116,"$150,000",150000,07/10/2019,100.00,12
2,14081857,513 N Snyder Avenue,Justin,0,3,2,0,0,0,2008,0,1348,116.47,0.165,"$159,900",157000,07/12/2019,98.19,19
3,14015075,601 Mary Street,Aubrey,0,3,1,0,0,0,1977,0,858,186.48,0.170,"$169,900",160000,07/11/2019,94.17,111
4,14085452,4152 Caldwell Avenue,The Colony,0,3,2,0,2,2,1986,0,1492,110.59,0.127,"$179,900",165000,07/09/2019,91.72,42
5,14092244,214 Southside Drive,Sanger,0,3,1,0,0,0,1992,0,1268,130.13,0.190,"$169,000",165000,07/10/2019,97.63,19
6,14105581,303 W Pecan Street,Aubrey,0,4,2,0,0,0,1996,0,1405,122.42,0.172,"$169,900",172000,07/08/2019,101.24,3
7,14085089,724 E Roewe Street,Pilot Point,0,3,2,0,2,2,1978,0,1177,148.68,0.272,"$169,900",175000,07/10/2019,103.00,8
8,14112097,2742 Harbinger Lane,Dallas,0,2,1,0,1,1,1984,0,819,219.78,0.061,"$180,000",180000,07/11/2019,100.00,3
9,14086107,527 N 1st Street,Krum,0,3,2,0,2,2,1999,0,1235,147.37,0.227,"$184,900",182000,07/08/2019,98.43,28
10,14106668,2812 Paisley Street,Denton,0,3,2,0,2,2,1985,0,1220,155.66,0.161,"$189,900",189900,07/08/2019,100.00,11
11,14069040,415 De Moye Street,Aubrey,0,3,2,0,3,5,1970,0,1547,126.05,0.258,"$199,900",195000,07/05/2019,97.55,49
12,14087438,2110 Jasmine Street,Denton,0,3,2,0,2,2,1999,0,1299,152.04,0.179,"$210,000",197500,07/12/2019,94.05,27
13,14128648,2516 Hillside Drive,Corinth,0,3,2,0,2,2,1984,0,1317,149.96,0.193,"$195,000",197500,07/11/2019,101.28,0
14,14098671,214 Aster Drive,Sanger,0,4,2,0,2,2,2001,0,1667,119.92,0.153,"$199,900",199900,07/08/2019,100.00,0
15,14039302,9815 Lexington Drive,Providence Village,0,3,2,0,2,2,2005,0,1129,177.15,0.098,"$195,000",200000,07/08/2019,102.56,5
16,14092818,225 Blackjack Road,Aubrey,0,3,2,0,2,2,2001,0,1409,141.94,0.166,"$200,000",200000,07/05/2019,100.00,3
17,14100847,3416 Shadow Trail,Denton,0,3,2,0,2,2,1997,0,1377,148.87,0.179,"$209,900",205000,07/08/2019,97.67,3
18,14019196,2502 Foxcroft Circle,Denton,0,3,2,0,0,0,1970,0,1495,139.13,0.217,"$205,000",208000,07/12/2019,101.46,126
19,14103617,3418 Valley View Road,Denton,0,4,1,1,0,0,1968,0,1544,136.01,0.198,"$199,900",210000,07/05/2019,105.05,3
20,14074110,1921 Briarwyck Court,Denton,0,2,2,0,2,2,1999,0,1654,128.48,0.105,"$219,900",212500,07/11/2019,96.63,47
21,14097732,101 Maned Drive,Sanger,0,3,2,1,2,2,2004,0,2137,100.61,0.178,"$215,000",215000,07/11/2019,100.00,25
22,14094144,2206 Cedarcrest Drive,Carrollton,0,3,2,0,2,2,1983,0,1682,128.42,0.115,"$229,900",216000,07/09/2019,93.95,22
23,14090678,1636 Dragonback Pass,Little Elm,0,3,2,0,2,2,2003,0,1648,132.28,0.152,"$220,000",218000,07/05/2019,99.09,6
24,14095984,1311 Jasmine Drive,Lewisville,0,3,2,1,2,2,1986,0,1673,130.30,0.143,"$218,000",218000,07/10/2019,100.00,2
25,14101132,3307 Andalusian Drive,Denton,0,3,2,0,2,2,2004,0,1507,145.92,0.160,"$219,900",219900,07/12/2019,100.00,8
26,14089098,2803 Monet Place,Dallas,0,2,2,0,2,2,1984,0,1502,146.47,0.101,"$217,128",220000,07/08/2019,101.32,1
27,14096136,3001 Terry Court,Denton,0,5,2,0,2,2,1990,0,1569,140.22,0.138,"$219,900",220000,07/05/2019,100.05,13
28,14081145,1321 Cheyenne Drive,Aubrey,0,3,2,0,2,2,2015,0,1557,141.94,0.129,"$223,000",221000,07/08/2019,99.10,33
29,14068469,2610 Parkview Drive,Corinth,0,3,2,0,2,2,1986,0,1515,148.45,0.182,"$224,900",224900,07/10/2019,100.00,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,14064654,3816 Granada Trail,Denton,0,4,5,0,3,3,1999,1,3824,151.67,0.567,"$599,900",580000,07/10/2019,96.68,47
220,14108471,10678 Foutch Road,Pilot Point,0,3,2,1,2,2,1997,0,2287,260.17,8.969,"$599,000",595000,07/08/2019,99.33,15
221,14033918,1055 Hope Valley Parkway,Roanoke,0,4,3,1,3,3,2019,0,3398,175.75,0.000,"$597,900",597185,07/08/2019,99.88,0
222,14089165,950 Oak Hill Court,Cross Roads,0,4,4,1,3,3,2006,1,4023,150.39,1.249,"$609,900",605000,07/09/2019,99.20,15
223,14110000,3417 Darcey Court,Flower Mound,0,5,4,1,3,3,2004,1,3919,155.65,0.432,"$579,900",610000,07/11/2019,105.19,10
224,14113402,400 Mobile Drive,Copper Canyon,0,3,2,1,4,4,2011,1,2799,221.51,1.000,"$639,900",620000,07/08/2019,96.89,9
225,14083754,2738 Highlands Court,Trophy Club,0,5,4,1,3,3,2012,1,4018,156.79,0.272,"$639,000",630000,07/09/2019,98.59,35
226,14062562,4432 Tall Knight Lane,Carrollton,0,5,4,0,2,2,2019,0,4038,158.49,0.140,"$689,000",640000,07/09/2019,92.89,91
227,13876966,12543 Chisum Road,Sanger,0,3,2,0,2,2,1993,0,2268,284.39,28.000,"$649,000",645000,07/05/2019,99.38,350
228,14013478,3900 Blue Sage,Prosper,0,5,5,0,3,0,2019,0,4368,149.04,0.000,"$714,990",651000,07/05/2019,91.05,156
229,14011648,5009 Brush Hill Road,Carrollton,0,4,4,1,3,3,2019,0,3211,202.80,0.165,"$719,900",651183,07/05/2019,90.45,6
230,14027403,4439 Chantilly Lane,Frisco,0,5,4,1,3,3,2014,0,4742,137.49,0.200,"$674,900",652000,07/08/2019,96.61,102
231,14095267,13400 Escalara Lane,Justin,0,4,3,0,3,3,2016,1,3520,187.22,1.010,"$659,000",659000,07/05/2019,100.00,16
232,14092906,5117 Connors Drive,Flower Mound,0,5,4,1,3,3,2003,1,4590,143.79,0.278,"$670,000",660000,07/11/2019,98.51,26
233,14104537,1712 Milford Drive,Flower Mound,0,4,4,1,3,3,2017,0,3843,172.39,0.235,"$669,000",662500,07/08/2019,99.03,5
234,14090400,4556 Biltmoore Drive,Frisco,0,3,2,2,2,2,1999,0,3766,185.87,0.280,"$725,000",700000,07/12/2019,96.55,274
235,14031578,5486 Mayfly Drive,Frisco,0,5,4,1,3,3,2016,0,4222,178.23,0.204,"$779,000",752500,07/12/2019,96.60,88
236,14104576,2612 Santa Monica Street,Flower Mound,0,4,3,2,3,3,2015,0,4213,179.21,0.179,"$725,000",755000,07/05/2019,104.14,2
237,14102981,4060 Ladera Heights,Frisco,0,4,4,1,3,3,2019,0,3427,222.21,0.220,"$761,526",761526,07/08/2019,100.00,1
238,14042971,906 Crescent Drive,Highland Village,0,4,3,2,3,3,2001,1,4532,172.90,0.452,"$774,500",783600,07/10/2019,101.17,167
239,14078287,7408 Palomino Circle,Flower Mound,0,5,4,0,3,3,1999,1,4179,189.04,2.001,"$799,900",790000,07/10/2019,98.76,7
240,14097924,819 W Oak Street,Denton,0,4,3,1,0,6,1886,1,4546,177.52,0.467,"$799,900",807000,07/08/2019,100.89,5
241,14004590,6772 Garrett River Road,Frisco,0,5,5,1,3,3,2019,0,4331,190.81,0.250,"$976,390",826415,07/10/2019,84.64,43
242,14101673,4705 Nantucket Court,Flower Mound,0,4,4,2,3,3,1994,0,5762,150.99,1.057,"$879,900",870000,07/08/2019,98.87,40
243,13897208,3035 Maynard Road,Hickory Creek,0,4,4,1,2,2,1965,1,3211,280.29,2.148,"$1,100,000",900000,07/09/2019,81.82,267
244,14087889,4564 Biltmoore Drive,Frisco,0,4,4,1,3,3,2000,1,4930,183.77,0.308,"$899,000",906000,07/09/2019,100.78,6
245,14049050,5801 Shorefront Lane,Flower Mound,0,5,4,1,3,3,1999,0,5154,181.41,2.009,"$975,000",935000,07/08/2019,95.90,61
246,14045069,308 King Ranch Road,Southlake,0,5,5,1,4,5,2005,0,5485,175.93,1.000,"$998,900",965000,07/09/2019,96.61,68
247,14087106,1210 Tate Lane,Argyle,0,4,4,2,4,4,2007,1,5503,197.62,1.019,"$1,150,000",1087500,07/11/2019,94.57,8
248,14084595,943 Echols Drive,Frisco,0,5,5,1,4,4,2014,0,6817,161.36,0.422,"$1,199,995",1100000,07/09/2019,91.67,344

In [17]:
# If adding GPS coords, put this here...
# To obtain GPS coordinates of an address, begin here to get Google API
# https://cloud.google.com/maps-platform/?apis=places
# edf.insert(4, 'GPS_Lat', 0, allow_duplicates=False)
# edf.insert(5, 'GPS_Lon', 0, allow_duplicates=False)
# edf.head()

In [18]:
apdf['Sold $'].describe()

count    2.490000e+02
mean     3.666548e+05
std      1.724461e+05
min      1.499000e+05
25%      2.550000e+05
50%      3.145000e+05
75%      4.228890e+05
max      1.100000e+06
Name: Sold $, dtype: float64

In [19]:
apdf['Pool'].describe()

count    249.000000
mean       0.164659
std        0.371619
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Pool, dtype: float64

In [20]:
apdf['City'].describe()

count        249
unique        33
top       Denton
freq          32
Name: City, dtype: object

In [21]:
print(len(apdf['City'].unique()))
apdf['City'].unique()

33

array(['Denton', 'Sanger', 'Justin', 'Aubrey', 'The Colony',
       'Pilot Point', 'Dallas', 'Krum', 'Corinth', 'Providence Village',
       'Carrollton', 'Little Elm', 'Lewisville', 'Cross Roads',
       'Flower Mound', 'Frisco', 'Savannah', 'Ponder', 'Oak Point',
       'Lantana', 'Fort Worth', 'Trophy Club', 'Prosper', 'Argyle',
       'Lakewood Village', 'Hickory Creek', 'Highland Village',
       'Northlake', 'Coppell', 'Double Oak', 'Roanoke', 'Copper Canyon',
       'Southlake'], dtype=object)

In [22]:
apdf['Address'].describe()

count                         249
unique                        249
top       1448 Hollow Ridge Drive
freq                            1
Name: Address, dtype: object

In [23]:
apdf['Acres'].describe()

count    249.000000
mean       0.478008
std        1.998766
min        0.000000
25%        0.140000
50%        0.180000
75%        0.233000
max       28.000000
Name: Acres, dtype: float64

In [24]:
apdf.to_pickle(pkl_file_name) # Save data for use by rempan & rempest.ibynb